@model IEnumerable<Vinabook.Models.Sach>

@{
    ViewData["Title"] = "Index";
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
    {
        Layout = "_Admin";
    }
    else
    {
        Layout = "_Sach";
    }
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.MaDanhMuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSach">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSach">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSach">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}
else
{
<div class="grid__row category-right__wrapper">
    @foreach (var item in Model)
    {
        <div class="category-right__book grid__colunm-2-4">
            <div class="category-right__img">
                <a href="/Sach/Details/@item.MaSach">
                    <img src="@item.URLAnh" alt="" style="max-width: 168px;min-width: 168px;">
                </a>
            </div>
            <a href="/Sach/Details/@item.MaSach" class="category-right__name">@item.Ten</a>
            <span class="category-right__author">@item.TacGia</span>
            <div class="category-right__price">
                <span class="category-right__new-price">@item.Gia</span>
            </div>
        </div>
    }
</div>   
}